# The restic-backup-forget@.service removes old backups according to a policy.
#
# The unit is templated, which allows is it to be used with separate named
# configs. After installing the unit the following files need to be created
# in the `${CONFIG_DIR}/<instance-name>`
# directory.
#
#    - `config.env`: containing any environment variables required to configure restic.
#      This file must include the environment variables to configure the restic
#      repository location and the password for it.
#      See: https://restic.readthedocs.io/en/stable/040_backup.html#environment-variables

[Unit]
Description=Remove old backups using the configuration in ${CONFIG_DIR}/%I

ConditionFileNotEmpty=${CONFIG_DIR}/%I/config.env
ConditionFileIsExecutable=${REPO_DIR}/bash/check-snapshots

OnFailure=restic-backup-failed@%n

[Service]
Type=oneshot
KillMode=mixed
User=${RESTIC_USER}
Group=${RESTIC_GROUP}
EnvironmentFile=${CONFIG_DIR}/%I/config.env

# Use the home directory of the restic user configured above.
WorkingDirectory=~

ExecCondition=${REPO_DIR}/bash/check-snapshots
ExecStart=/usr/bin/env restic forget \
    --prune \
    --verbose \
    --host %H \
    --tag %I \
    --keep-hourly 48 \
    --keep-daily 7 \
    --keep-weekly 5 \
    --keep-monthly 12 \
    --keep-yearly 5

ExecStartPost=/usr/bin/env restic check --verbose

[Install]
WantedBy=multi-user.target
