[Unit]
Description=Send one or more notifications that %I failed

[Service]
Type=oneshot
Environment="CONFIG_DIR=${CONFIG_DIR}"

# Use the home directory of the restic user configured above.
WorkingDirectory=~

ExecStart=${REPO_DIR}/bash/notify-failed %i

[Install]
WantedBy=multi-user.target
